# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\javaSoftware\IdeaProjects\rk-core-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
